name: cert-manager-dnsmadeeasy

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    types:
    - opened
    - reopened
  schedule:
  - cron: "0 0 * * 6"

env:
  REGISTRY_IMAGE: ${{ github.workflow }}

jobs:
  build:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[ci-skip]')"
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      with:
        platforms: all

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
      with:
        install: true
        version: latest
        driver-opts: image=moby/buildkit:master

    - name: Login to GitHub Container Registry
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build and Push (PR)
      if: github.event_name == 'pull_request'
      uses: docker/build-push-action@v2
      with:
        build-args: VERSION=${{ steps.prep.outputs.version }}
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: false # GitHub secrets not available in PRs
        tags: |
          ghcr.io/${{ github.repository_owner }}/pull-request:${{github.event.number}}

    - name: Build and Push (non PR)
      if: github.event_name != 'pull_request'
      uses: docker/build-push-action@v2
      with:
        build-args: VERSION=${{ steps.prep.outputs.version }}
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/${{ env.REGISTRY_IMAGE }}:dev
